:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*elementos base*/

body {
  background: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
  transition: 0.4s;
}

/*filme principal*/

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('../img/homem-aranha.png');

  height: 600px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
}

.titulo {
  font-size: 40px;
}
